<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>breedr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') | autoversion}}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') | autoversion}}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='uppy.min.css') | autoversion}}">
    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') | autoversion}}">
  </head>
  <body>
    <section class="section">
       <div class="container">
        <h1 class="title">breedr</h1>
        <p class="subtitle">
          a dog breed detector
        </p>

        {% block body %}
        {% endblock %}

      </div>
    </section>
  </body>
</html>
