<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Breedr</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') | autoversion}}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='uppy.min.css') | autoversion}}">
    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') | autoversion}}">
  </head>
  <body>
    <div class=page>
      <h1>Breedr</h1>
      <div class=metanav>
        {% block body %}{% endblock %}
      </div>
    </div>
  </body>
</html>
