{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='uppy.min.js') }}"></script>

<div id="main">
  <p>
    Upload a picture of a dog, and I will tell you the breed.
  </p>
  <p>
    If tou upload a portrait of a person, I will tell you the best matching dog breed.
  </p>
  <div class="UppyDragDrop"></div>
</div>

<div style="display:none;" id="loader"></div>

<script>

new Image().src="{{ url_for('static', filename='loading.svg') }}";

const uppy = Uppy.Core({
  debug: true,
  autoProceed: false,
  restrictions: {
    maxFileSize: 5000000,
    maxNumberOfFiles: 1,
    minNumberOfFiles: 1,
    allowedFileTypes: ['image/*']
  }
})
.use(Uppy.Dashboard, {
  inline: true,
  target: '.UppyDragDrop',
  replaceTargetContent: true,
  trigger: '.UppyModalOpenerBtn',
  note: 'Images only',
  maxHeight: 450,
  locale: {
    strings: {
      selectToUpload: 'Select files to upload',
      upload: 'Upload',
      importFrom: 'Import files from',
      dashboardWindowTitle: 'Uppy Dashboard Window (Press escape to close)',
      dashboardTitle: 'Uppy Dashboard',
      copyLinkToClipboardSuccess: 'Link copied to clipboard.',
      copyLinkToClipboardFallback: 'Copy the URL below',
      fileSource: 'File source',
      done: 'Done',
      localDisk: 'Local Disk',
      myDevice: 'Device',
      dropPasteImport: 'You can drop files here, or open from filesystem or from webcam, above',
      dropPaste: 'Drop files here, paste or',
      browse: '',
      fileProgress: 'File progress: upload speed and ETA',
      numberOfSelectedFiles: 'Number of selected files',
      uploadAllNewFiles: 'Upload all new files',
      emptyFolderAdded: 'No files were added from empty folder',
      folderAdded: {
        0: 'Added %{smart_count} file from %{folder}',
        1: 'Added %{smart_count} files from %{folder}'
      }
    }
  }
})
.use(Uppy.Webcam, {
  target: Uppy.Dashboard,
  modes: ['picture'],
  locale: {
    strings: {
      smile: 'Take a picture!'
    }
  }
})
.use(Uppy.XHRUpload, {
  endpoint: '/upload',
  method: 'post',
  formData: true,
  fieldName: 'file'
}).run()

uppy.on('upload-success', (fileId, resp, uploadURL) => {
  document.getElementById("main").style.display = "none";
  document.getElementById("loader").style.display = "block";

  const url = "/show_breed/" + resp["id"];
  window.location = url
})

uppy.on('complete', result => {
})
</script>

{% endblock %}
