{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='uppy.min.js') }}"></script>

<div id="main">
  <p>
    Upload a picture of a dog, and I will tell you the breed.
  </p>
  <p>
    If tou upload a portrait of a person, I will tell you the best matching dog breed.
  </p>
  <div class="UppyDragDrop"></div>
</div>

<div style="display:none;" id="loader"></div>

<script>

const uppy = Uppy.Core({
  debug: true,
  autoProceed: false,
  restrictions: {
    maxFileSize: 5000000,
    maxNumberOfFiles: 1,
    minNumberOfFiles: 1,
    allowedFileTypes: ['image/*']
  }
})
.use(Uppy.Dashboard, {
  inline: true,
  target: '.UppyDragDrop',
  replaceTargetContent: true,
  trigger: '.UppyModalOpenerBtn',
  note: 'Images only',
  maxHeight: 450,
  metaFields: [
    { id: 'license', name: 'License', placeholder: 'specify license' },
    { id: 'caption', name: 'Caption', placeholder: 'describe what the image is about' }
  ]
})
.use(Uppy.Webcam, {
  target: Uppy.Dashboard,
  modes: ['picture'],
  locale: {
    strings: {
      smile: 'Take a picture!'
    }
  }
})
.use(Uppy.XHRUpload, {
  endpoint: '/upload',
  method: 'post',
  formData: true,
  fieldName: 'file'
}).run()

uppy.on('upload-success', (fileId, resp, uploadURL) => {
  document.getElementById("main").style.display = "none";
  document.getElementById("loader").style.display = "block";

  const url = "/show_breed/" + resp["id"];
  window.location = url
})

uppy.on('complete', result => {
})
</script>

{% endblock %}
