#main {
}

#spinner {
  border-top: 16px solid #f3f3f3;
  border-right: 16px solid #b3b3b3;
  border-bottom: 16px solid #1365a9;
  border-left: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
#loader {
  position: relative;
}
#loader .waiting-message {
  text-align: center;
  position: absolute;
  width: 5em;
  top: 2em;
  left: 1.3em;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
